.animLink {
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    &:before {
      position: absolute;
      width: 100%;
      height: 2px;
      background: currentColor;
      bottom: 0;
      left: 0;
      content: "";
      transform: scale3d(0, 1, 1);
      transform-origin: right;
      transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      height: 100%;
      transform: translate3d(150%, 0, 0);
      transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    & span {
      transition: transform 0.3s cubic-bezier(0.5, 0.5, 0.3, 1);
    }
    &:hover:before {
      transform: scale3d(1, 1, 1);
      transform-origin: left;
    }
    &:hover:after {
      transform: translate3d(0, 0, 0);
    }
    &:hover span {
      transform: translate3d(-150%, 0, 0);
    }
  }
  
  .animButton {
    position: relative;
    border: none;
    cursor: pointer;
    width: 175px;
    height: 10vh;
    background: none;
    color: white;
    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:before {
      content: "";
      background: white;
      height: 100%;
      clip-path: path(
        "M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z"
      );
      transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
    }
    &:hover:before {
      clip-path: path(
        "M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z"
      );
    }
    & span {
      mix-blend-mode: difference;
      font-weight: 500;
    }
    &:after {
      content: "";
      height: 85%;
      width: 90%;
      top: 0.5vh;
      border: 1px solid white;
      border-radius: 79% 21% 72% 28% / 77% 25% 75% 23%;
      transform: rotate(-20deg);
    }
    &:hover:after {
      transform: translate3d(0, -5px, 0);
    }
    @media (max-width: 800px) {
      & {
        transform: scale3d(0.5, 0.5, 0.5);
        font-size: 23px;
        height: 150px;
      }
    }
  }
  
  .coloredIcon {
    font-size: 2rem;
    position: relative;
    z-index: 10;
  }
  
  .coolCircleEyeButton {
    position: relative;
    display: inline-block;
    .textcircle {
      display: block;
      width: 250px;
      text {
        font-size: 32px;
        text-transform: uppercase;
        fill: black;
      }
      animation: rotate 8s linear infinite;
      @keyframes rotate {
        to {
          transform: rotate(-360deg);
        }
      }
    }
    &:hover {
      text {
        font-weight: 600;
      }
      .eye__inner,
      .eye__iris,
      .eye__lashes--up {
        animation: hide 2s step-end infinite;
        @keyframes hide {
          0% {
            opacity: 0;
          }
          25% {
            opacity: 1;
          }
        }
      }
      .eye__lashes--down {
        animation: show 2s step-end infinite;
        @keyframes show {
          0% {
            opacity: 1;
          }
          25% {
            opacity: 0;
          }
        }
      }
    }
  }
  
  .eye {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &__outer,
    &__inner,
    &__lashes--up,
    &__lashes--down {
      stroke: black;
      fill: none;
      stroke-width: 1.5px;
    }
    &__lashes--down {
      opacity: 0;
    }
  }
  
  .animSVGLink {
    position: relative;
    font-family: sans-serif;
    svg {
      position: absolute;
      bottom: -5px;
      left: 0;
      stroke-width: 1;
      width: 95px;
      path {
        stroke-dashoffset: 1;
        stroke-dasharray: 1;
        transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
      }
    }
    &:hover {
      svg path {
        stroke-dashoffset: 0;
        transition-timing-function: cubic-bezier(0.075, 1, 0.7, 1);
      }
    }
  }
  