.projects {
  &__header {
    font-size: 5vw; /* Use vw for responsive font size */
    font-style: italic;
    padding-bottom: 1vw; /* Use vw for responsive padding */
  }
  .coolCircleEyeButton {
    position: relative;
    display: inline-block;
    .textcircle {
      display: block;
      width: 100%;
      text {
        font-size: 2em;
        text-transform: uppercase;
        fill: black;
      }
      animation: rotate 8s linear infinite;
      @keyframes rotate {
        to {
          transform: rotate(-360deg);
        }
      }
    }
    &:hover {
      text {
        font-weight: 600;
      }
      .eye__inner,
      .eye__iris,
      .eye__lashes--up {
        animation: hide 2s step-end infinite;
        @keyframes hide {
          0% {
            opacity: 0;
          }
          25% {
            opacity: 1;
          }
        }
      }
      .eye__lashes--down {
        animation: show 2s step-end infinite;
        @keyframes show {
          0% {
            opacity: 1;
          }
          25% {
            opacity: 0;
          }
        }
      }
    }
  }

  .animSVGLink {
    position: relative;
    font-family: sans-serif;
  }
  
  .animSVGLink svg {
    position: absolute;
    bottom: -5px;
    left: 0;
    stroke-width: 1;
    width: 100%;
  }
  
  .animSVGLink svg path {
    stroke-dashoffset: 1;
    stroke-dasharray: 1;
    transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
  }
  
  .animSVGLink:hover svg path {
    stroke-dashoffset: 0;
    transition-timing-function: cubic-bezier(0.075, 1, 0.7, 1);
  }

  
}

.projectButtons{
  display: flex;
}

.pSummary{
  font-size: 2.5rem; /* Adjust for responsive font size */
}

.project {
  &__header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    font-family: sans-serif;

    span {
      border-top: 1px solid black;
      padding: 1rem;
      font-size: 3rem; /* Use vw for responsive font size */
      text-align: center;
    }
  }
  &__infos {
    margin-top: 1rem;
    &--name {
      position: relative;
      font-size: 3vw; /* Use vw for responsive font size */
      font-family: sans-serif;
      display: flex;
      align-items: center;
      font-weight: 400;
    }
  }

  &__links {
    padding-top: 3vw; /* Use vw for responsive padding */

    button {
      &:before {
        background: black;
      }
    }
  }
  &__tags {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 1350px) {
  .projects {
    padding: 3rem;
  }
  .project__img img {
    width: 74vw;
    right: 5rem;
  }
  .project__infos--name {
    font-size: 3vw; /* Use vw for responsive font size */
  }
  .project .coolCircleEyeButton {
    transform: translate3d(-14rem, -3rem, 0);
  }
}

@media (max-width: 750px) {
  .projects {
    padding: 1rem;
  }
  .project__tags {
    flex-direction: row;
    top: 0;
    left: 0;
  }
  .project__img img {
    width: 65vw;
    right: 3rem;
  }
  .project__infos--name {
    font-size: 3vw; /* Use vw for responsive font size */
    span {
      display: none;
    }
  }
  .project .coolCircleEyeButton {
    transform: translate3d(-14rem, -3rem, 0);
  }
}

@media (max-width: 440px) {
  .projects {
    padding: 1rem;
  }
  .project__tags {
    gap: 6px;
    font-size: 1rem; /* Use rem for responsive font size */
  }
  .project .coolCircleEyeButton {
    transform: translate(0);
  }
  .project__header span {
    font-size: 2.5rem; /* Use rem for responsive font size */
  }
  .linkText{
    font-size: 1rem;
  }

  .projectPoint{
    font-size: 1.5rem;
  }

  .eye{
    size: 1rem;
  }

  .paddingButton{
    width: 5vw;
  }
}

.custom-card {
  border: none;
  padding: 1rem;
  background-color: transparent;
  button {
    &:before {
      background: black;
    }
  }
}

.card-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 2rem; /* Adjust line-height */
  margin-bottom: 0.5rem; /* Adjust margin-bottom */
}

.icons {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  
}

.icon {
  display: flex;
  font-size: 2rem;
  cursor: crosshair;
  
}

.card-body h5 {
  margin-top: 1rem;
  font-weight: bold;
}

.card-body ul {
  list-style: none;
  padding: 0;
}

.card-body ul li {
  margin-bottom: 0.5rem;
}

.card-img {
  object-fit: cover;
}

.btn-group {
  display: flex;
  gap: 1rem; /* Adjust gap */
}

.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.photosSide {
  max-height: 100%;
}

.projectPhotos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem; /* Adjust padding */
}

.projectHighlight {
  position: relative;
  display: flex;
  align-items: center; /* Vertically center the children */
  z-index: 1;
  font-size: 2rem;
}

.projectHighlight::before {
  content: "";
  position: absolute;
  top: 50%; /* Start at the vertical center */
  left: -0.25rem; /* Adjust for relative units */
  right: -0.25rem; /* Adjust for relative units */
  height: 3vw;
  background-color: yellow;
  transform: skew(15deg, -2deg) translateY(-50%); /* Adjust to align vertically */
  z-index: -1;
}

.pHighlightList {
  list-style: georgian;
  font-size: 2rem; /* Adjust for responsive font size */
}


.ProjectCard{
  margin: 20px;

  button{
    &:before {
    background: black;
  }
}

}



.ProjectImage {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.carousel-item img {
  width: 100%;
  height: 50vh; /* Ensures images are tall enough */
  object-fit: cover; /* Maintain aspect ratio, cover the container */
}

.card{
  width: 95%;
  margin: auto;
  border: none;
  button {
    &:before {
      background: black;
    }
  }
}


.card-body {
  padding: 0;
  margin: 0;
}

.carousel-item {
  height: 100%;
}
.tensorBack{
  background-image: url("/assets/images/loaders/tensorflow.png");
  background-position: center;
}
.propitalBack{
  background-image: url("/assets/images/loaders/Tagilla.png");
  background-position: center;
  background-size: contain;
}
.hide{
  visibility: hidden;
}
