@import "./base.scss";

.skills{
    position: relative;
    font-size: 40px;
    height: 300px;
    background-color: yellow;
    overflow: hidden;
    text-align: center;
    padding-top: 1rem;
    &__header{
        font-weight: 600;
    }
    &__text{
        position: absolute;
        white-space: nowrap;
        &--left{
            left: 0;
            top: 6rem;
            display: flex;
            gap: 1rem;
            flex: 0 0 auto;
            min-width: 100%;
            animation: moveLeft 40s infinite;
            @keyframes moveLeft {
                0%{
                    transform: translate3d(0,0,0);
                }
                100%{
                    transform: translate3d(-50%,0,0);
                }
            }
        }
        &--right{
            right:0;
            top: 11rem;
            animation: moveRight 40s infinite;
            @keyframes moveRight {
                0%{
                    transform: translate3d(0,0,0);
                }
                100%{
                    transform: translate3d(50%,0,0);
                }
            }
        }
    }
    @media(max-width:700px){
        &{
            height: 200px;
        }
        &__text{
            font-size: 25px;
            &--left{
                top: 5rem;
            }
            &--right{
                top: 8rem;
            }
        }
    }
}